.img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

// .container-fluid{
//     margin-right: 10px;
// }
@media screen and (max-width: 1100px) {
    .img {
        height: 133.6px;
        width: 237.6px;
    }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {}

.container {
    margin-left: 45px;
    border: solid;
    flex: 5;
}

.btn {
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background-color: #008B8B;
    border-radius: 4px;
    color: white;
}

.btn1 {
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background-color: #008B8B;
    border-radius: 4px;
    color: white;
    padding: 3.5px 6px;
}

.more {
    margin-left: 40%;
    margin-top: 50px;
    cursor: pointer;

    width: 100px;

    &:hover {
        background-color: #008B8B;
    }
}

.button {
    display: flex;
}

.content {
    text-align: center;
}

.img_file {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

.all {
    display: flex;
    margin-top: 110px;
    justify-content: space-around;
}

.form {
    flex: 3;
    border: solid;
    height: 500px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.input{
    margin-top: 10px;
    width: 80%;
    text-align: center;
    margin-left: 45px;
    
}
.btn-submit{
    width: 100px;
    margin-top: 30px;
    margin-left: 40%;
    cursor: pointer;
}