.img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-bottom: white solid 0.1px;
    justify-content: space-around;
    padding: 10px;

}

.count {
    display: flex;
}

.btn {
    background-color: #008B8B;
    color: white;
    padding: 10px 10px;
    margin-left: 50%;
    margin-top: 50px;
}
.fee{
    margin-left: 80%;
}
.form{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    border: solid;
    margin-left: 100px;
    background-color: #008B8B;
    border: none;

}
.select{
    width: 60%;
    margin: auto;
}
.dathang{
    margin-top: 30px;
    margin-left: 50%;
    cursor: pointer;
    border: none;
    color: white;
}