.head{
    display: flex;
    justify-content: space-between;
    color: red;
}
.cart{
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-weight: 600;

}
.img-icon{
    height: 60px;
    width: 60px;
    margin-top: 10px;
    
}
.btn-logout{
    height: 20px;
    cursor: pointer;
}
.link-home{
    display: flex;
    align-items: center;
}